

@keyframes bounce {
    0% {
      /* transform: translateY(0)   */
    }
    20% {
        /* transform: translateY(200px); */
        top: 500px;
    }
    40% {
        top: 350px;
    }
    60% {
        top: 500px;
    }
    80% {
        top: 450px;
    }
    100% {
        top: 500px;
    }
}

#landscape {
    position: absolute;
    Width: 700px;
    left: 0px;
    top: 0px;
}

#pink {
    position: absolute;
    Width: 50px;
    left: 100px;
    top: 150px;
    z-index: 0;
    animation-duration: 3s;
    animation-name: bounce;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
    

#tree {
    pointer-events: none;
    position: absolute;
    Width: 700px;
    left: 0px;
    top: 70px;
    z-index: 1;
}

#orange {
    position: absolute;
    width: 50px;
    left: 300px;
    top: 170px;
    z-index: 2;
    animation-duration: 3s;
    animation-name: bounce;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#green {
    position: absolute;
    Width: 50px;
    left: 450px;
    top: 200px;
    z-index: 2;
    animation-duration: 3s;
    animation-name: bounce;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}


#dark {
    position: absolute;
    Width: 50px;
    left: 500px;
    top: 250px;
    z-index: 2;
    animation-duration: 3s;
    animation-name: bounce;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#blue {
    position: absolute;
    Width: 50px;
    left: 450px;
    top: 100px;
    z-index: 2;
    animation-duration: 3s;
    animation-name: bounce;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
