/* Write the CSS for you answer here */

#landscape {
    position: absolute;
    Width: 700px;
    left: 0px;
    top: 0px;
}

#pink {
    transition: width 2s ease;
    position: absolute;
    Width: 50px;
    left: 100px;
    top: 150px;
    z-index: 0;
}

#pink:hover {
    width: 100px;
}

#tree {
    pointer-events: none;
    position: absolute;
    Width: 700px;
    left: 0px;
    top: 70px;
    z-index: 1;
}

#orange {
    transition: width 2s ease;
    position: absolute;
    width: 50px;
    left: 300px;
    top: 170px;
    z-index: 2;
}

#orange:hover {
    width: 100px;
}

#green {
    transition: width 2s ease;
    position: absolute;
    Width: 50px;
    left: 450px;
    top: 200px;
    z-index: 2;
}

#green:hover {
    width: 100px;
}

#dark {
    transition: width 2s ease;
    position: absolute;
    Width: 50px;
    left: 500px;
    top: 250px;
    z-index: 2;
}

#dark:hover {
    width: 100px;
}

#blue {
    transition: width 2s ease;
    position: absolute;
    Width: 50px;
    left: 450px;
    top: 100px;
    z-index: 2;
}

#blue:hover {
    width: 100px;
}