/* Write the CSS for you answer here */

#landscape {
    position: absolute;
    Width: 700px;
    left: 0px;
    top: 0px;
}

#pink {
    position: absolute;
    Width: 50px;
    left: 100px;
    top: 150px;
    z-index: 0;
}
#tree {
    position: absolute;
    Width: 700px;
    left: 0px;
    top: 70px;
    z-index: 1;
}

#orange {
    position: absolute;
    Width: 50px;
    left: 300px;
    top: 170px;
    z-index: 2;
}

#green {
    position: absolute;
    Width: 50px;
    left: 450px;
    top: 200px;
    z-index: 2;
}

#dark {
    position: absolute;
    Width: 50px;
    left: 500px;
    top: 250px;
    z-index: 2;
}

#blue {
    position: absolute;
    Width: 50px;
    left: 450px;
    top: 100px;
    z-index: 2;
}